<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
        <!--校验模式  JPA  java persistent api-->
		<property name="javax.persistence.validation.mode">none</property>
		<!-- 懒加载，配合web.xml中配置的 openSessionInViewFilter -->
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		
		<!-- 加载映射文件 -->
		<!-- sysadmin -->
		<mapping resource="cn/yin/jx/domain/Dept.hbm.xml"/>
		<mapping resource="cn/yin/jx/domain/UserInfo.hbm.xml"/>
		<mapping resource="cn/yin/jx/domain/User.hbm.xml"/>
		<mapping resource="cn/yin/jx/domain/Role.hbm.xml"/>
		<mapping resource="cn/yin/jx/domain/Module.hbm.xml"/>
		
		<!-- cargo -->
		<mapping resource="cn/yin/jx/domain/Contract.hbm.xml"/>
		<mapping resource="cn/yin/jx/domain/ContractProduct.hbm.xml"/>
		<mapping resource="cn/yin/jx/domain/ExtCproduct.hbm.xml"/>
		<mapping resource="cn/yin/jx/domain/Factory.hbm.xml"/>
		<mapping resource="cn/yin/jx/domain/Export.hbm.xml"/>
		<mapping resource="cn/yin/jx/domain/ExportProduct.hbm.xml"/>
		<mapping resource="cn/yin/jx/domain/ExtEproduct.hbm.xml"/>
	</session-factory>
	
	

</hibernate-configuration>